.spinner {
  margin: 50px;
  height: 28px;
  width: 28px;
  animation: rotate 1s infinite linear;
  border: 8px solid #ac53f2;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}