.ipinformation-container {
  background-color: #f8f8f8;
}

.ipinformation-inner-container {
  background-color: #f8f8f8;
  margin: auto;
  max-width: 80%;
}

.ipinformation-inner-header {
  font-size: 2.5em;
  text-align: center;
}

.ipinformation-inner-header-text {
  text-align: center;
}

.ipinformation-box-container {
  /* border: 1px solid black; */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  -webkit-flex-flow: row wrap;
}
@media screen and (max-width: 1300px) {
  .ipinformation-box-container {
    justify-content: left;
  }
}
@media screen and (max-width: 500px) {
  .ipinformation-inner-header {
    font-size: 2.5em;
    text-align: left;
  }
  .ipinformation-inner-header-text {
    text-align: left;
  }
  .ipinformation-inner-container {
    background-color: #f8f8f8;
    margin: auto;
    max-width: 80%;
  }
  .ipinformation-box-container {
    justify-content: left;
    margin-left: -34px;
  }
}


.ipinformation-box-col {
  /* border: 1px solid red; */
  padding: 5px;
  width: 320px;
  /* color: white; */
  font-weight: bold;
  /* flex-grow: 1; */
}
.ipinformation-box-col-inner {
  padding: 10px 30px 10px 30px;
}

.ipinformation-text-title {
  font-size: 1.2em;
}

.ipinformation-text {
  color: #2a2a2a;
  font-weight: 200;
  line-height: 1.5em;
}