.buysection-container {
  background-color: white;
}

.buysection-inner-container {
  /* border: 1px solid black; */
  margin: auto;
  width: 50%;
}
@media screen and (max-width: 900px) {
  .buysection-inner-container {
    width: 80%;
  }
}

.buysection-header {
  font-size: 2.5em;
  text-align: left;
}

.buysection-header-text {
  line-height: 1.7em;
}

.buysection-img-cont {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  -webkit-flex-flow: row wrap;
}
.buysection-vpn-image {
  text-align: center;
  height: 100%;
  width: 29em;
}
@media screen and (max-width: 700px) {
  .buysection-vpn-image {
    text-align: center;
    height: 100%;
    width: 20em;
  }
}

.buysection-header-2 {
  padding-bottom: 1px;
}

.buysection-header-text-2 {
  line-height: 1.7em;
  padding-bottom: 30px;
}

.buysection-ul-container {
  
}

.buysection-ul-header {
  text-align: center;
}

.buysection-ul {
  list-style-type: none;
  padding-left: 30px;
}

.buysection-ul-li {
  padding-top: 37px;
  padding-bottom: 40px;
}

.buysection-li-box {
  /* border: 1px solid black; */
  display: flex;
  padding-left: 1px;
}

.buysection-li-icon {
  /* border: 1px solid black; */
  display: inline-block;
  margin-top: 16px;
  text-align: center;
  width: 8em;
}

.buysection-li-texts {
  /* border: 1px solid rgb(197, 171, 171); */
  display: inline-block;
  padding-left: 25px;
  padding-right: 80px;
}

.buysection-li-box-header {
  line-height: 1.7em;
  margin: 0;
}

.buysection-li-box-text {
  line-height: 1.5em;
  margin: 0;
}

.buysection-vpn-product-container {
  /* border: 1px solid black; */
  width: 100%;
}

.buysection-vpn-product-inner-container {
  border-radius: 8px;
  box-shadow: 0px 8px 41px -11px #959595;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: inline-flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 28px;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
}

.buysection-vpn-product {
  width: 12em;
}

.buysection-vpn-product-left {
  /* border: 1px solid brown; */
  height: 100%;
  margin-top: 3.5em;
  text-align: center;
}

.buysection-vpn-product-right {
  /* border: 1px solid brown; */
  width: 60%;
}

.buysection-vpn-product-text {
  line-height: 1.5em;
  max-width: 88%;
}

.buysection-fab-header {
  margin: 0;
  padding-bottom: 2px;
}

.buysection-fab-container {
  padding-top: 5px;
}
.buysection-fab-container > i{
  padding: 2px;
}

.buysection-navlink-btn {
  color: white;
  text-decoration: none;
}